.body{
    background-color: #F2F3FF;
    font-family: 'Quicksand', sans-serif;
}
.topbar{
    position: relative;
    background-color: #38A3A5;
    box-shadow: 0px 0px 63px -30px rgb(48, 48, 48);
}
.astext {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 100;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    margin-left: 50px;
}
#ml {
    position: relative;
    left: 12%;
}
.font-gb {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}
.btn-top{
    border: none;
    background-color: inherit;
    padding: 7px 14px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    font-weight: 200;
}